/* Yaim Gerardo Serrano Corral y Leslie Lizbeth Roman Vega,
2AmPr */
#header {
    width: 100%; /* Ancho completo */
    height: auto; /* Altura automática */
}

#titulos-header {
    font-size: 18px; /* Tamaño de fuente */
    text-align: center; /* Alineación centrada */
}

#content-header {
    width: 100%; /* Ancho completo */
    height: 75px; /* Altura de 75 pixeles */
    background-color: #333333; /* Color de fondo color gris*/
}

#article-header {
    font-size: 23px; /* Tamaño de fuente de 23 pixeles*/
    text-align: center; /* Alineación centrada */
    background-color: #333333; /* Color de fondo de gris */
}

h1 {
    color: rgb(255, 255, 255); /* Color de texto blanco */
    background-color: #333333; /* Color de fondo de gris*/
    border-radius: 1px; /* Borde redondeado */
    font-size: 26px; /* Tamaño de fuente de 26 pixeles */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: rgb(255, 255, 255); /* Color de texto blanco */
}

button {
    margin: 10px; /* Márgenes externos */
    position: relative; /* Posición relativa para alinear el contenido */
    padding: 10px 15px; /* Relleno */
    border: none; /* Sin borde */
    outline: none; /* Sin contorno */
    background: #000000; /* Color de fondo */
    color: #ffffff; /* Color de texto blanco */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    transition: .5s; /* Transición suave */
    overflow: hidden; /* Oculta el desbordamiento */
}

button:hover {
    color: #fff; /* Color de texto blanco */
}

button span {
    position: absolute; /* Posición absoluta para superponer las líneas */
    background: #fff; /* Color de las líneas */
    transition: .5s; /* Transición suave */
}

button span:nth-child(1) {
    width: 100%;
    height: 1px; /* Grosor de la línea de 1 pixel */
    top: 0;
    left: -100%; /* Inicialmente fuera del botón */
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%; /* Inicialmente fuera del botón */
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%; /* Inicialmente fuera del botón */
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%; /* Inicialmente fuera del botón */
    right: 0;
}

/* Animación de las líneas al pasar el ratón sobre el botón */
button:hover span:nth-child(1) {
    left: 0; /* Aparece desde la izquierda */
}

button:hover span:nth-child(2) {
    right: 0; /* Aparece desde la derecha */
}

button:hover span:nth-child(3) {
    bottom: 0; /* Aparece desde abajo */
}

button:hover span:nth-child(4) {
    top: 0; /* Aparece desde arriba */
}
